.ant-timeline .ant-timeline-item {
  padding-bottom: 50px;

  .ant-timeline-item-label {
    padding-right: 100px;
    font-style: normal;
    font-weight: bold;
    color: #000;
    width: calc(40% - 12px);
    text-align: left;
  }
  .ant-timeline-item-head {
    inset-inline-start: 30%;
  }

  .ant-timeline-item-tail {
    inset-inline-start: 30%;
  }
}

.ant-timeline.ant-timeline-label
  .ant-timeline-item-left
  .ant-timeline-item-content {
  inset-inline-start: calc(35% - 4px);
  width: calc(65% - 12px);
}

.ant-timeline {
  padding-top: 30px;
}

.react-photo-gallery--gallery {
  img {
    width: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid lightgray;
  }
}

.ant-modal-footer {
  display: none;
}

.ant-modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-images__view-image--isModal {
  display: inline-block;
  left: 50%;
}

a {
  color: #1677ff;
}
